# Ignore SQLite database
*.sqlite3

# Ignore Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore Virtual Environment
env/
venv/

# Ignore Django settings secrets (if using .env)
.env

# Ignore log files
*.log

# Ignore media/uploads (if storing user uploads locally)
media/

# Ignore static files (if using collectstatic)
staticfiles/
